---
layout: default
---

Pagination in Post works by default

<div id="post-nav" class="clearfix nav-slide">
    <div class="work">    
        {% if page.previous.url %}
        <a class="prev" href="{{page.previous.url}}">
            <span class="slide-wrap">&lt; {{page.previous.title}}</span>
        </a> 
        {% endif %} 
        &nbsp;&nbsp;&nbsp;&nbsp;
        {% if page.next.url %} 
        <a class="next" href="{{page.next.url}}">
            <span class="slide-wrap">{{page.next.title}} &gt;</span>
        </a> 
        {% endif %} 
    </div>
</div>

<article class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <time datetime="{{ page.date | date_to_xmlschema }}" class="page-date">{{ page.date | date_to_string }}</time>
  {{ content }}
</article>

